// Colors
// ---------------------------------
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Default

$charcoal:               #494949;
$white:                  #ffffff;
$black:                  #0c0c0c;
$gainsboro:              #d9d9d9;
$persian-blue:           #3922c5;
$white-smoke:            #f4f4f4;


// Viewports
// ---------------------------------

$vp-968: 968px;
