.tabs {
  background-color: $white-smoke;
}

.tabs .container {
  padding: 0;
}

.tabs__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  // Для позиционирования табов
  position: relative;

  @media (max-width: $vp-968) {
    flex-direction: column;
    row-gap: 2rem;
  }
}

// is-active - класс для работы табов в десктопной версии

.tabs__item.is-active .tab__btn {
  color: $persian-blue;
  background-color: $white;
}

.tabs__item.is-active .tab__info-wrapper {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

// is-open - класс для работы аккордеона в планшетной версии

// При открытом аккордеоне
.tabs__item.is-open .tab__btn {
  @media (max-width: $vp-968) {
    color: $persian-blue;
    border-radius: 2rem 2rem 0 0;

    transition: color 0.3s linear, border-radius 0.3s ease;

    &::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
